.locales-mall{
    background-color: #4a83f51f;
}

.locales{
    display: block;
    overflow: hidden;
    border-radius: 8px;
    height: 200px;
    margin-bottom: 20px;
}

.locales-mall-container .patio-comidas-mall, .tiendas-mall{
    max-width: 1200px;
    margin: 0 auto;

    text-align: center;
} 

.locales-mall-container img{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 0;
    object-fit: cover;    
    transition: transform 0.4s ease;
    transform-origin: center center;
}

.locales-mall-container img:hover{
    transform: scale(1.05);
}

.locales-mall h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 20px;
}

.locales-mall h3::after{
  content: '';
  display: block;
  text-align: center;
  width: 60px;
  height: 3px;
  background: #025f9d;
  margin: 10px auto 0;

}

.locales-mall-container h4{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

.tiendas-mall {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}